<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
        {{ if eq .Type "post" }}
            {{ $categoryCount := .Params.categories | len }}
            <ul class="list-inline meta">
                <li><i class="fa fa-calendar"></i>{{ .Date.Format "2006-01-02" }}</li>
                <li><i class="fa fa-user"></i>{{ .Params.author }}</li>
                <li><i class="fa fa-folder"></i>
				{{ range $index, $value := .Params.categories }}
					<a href="{{ "/categories/" | absURL }}{{ . | urlize }}">
						{{ if isset $.Site.Params.terms_zh $value }}
							{{ index $.Site.Params.terms_zh $value }}
						{{ else }}
							{{ $value }}
						{{ end }}
					</a>
					{{ if lt (add $index 1) $categoryCount }}
						, 
					{{ end }}
				{{ end }}
				</li>
            </ul>
        {{ end }}
		{{ if isset $.Site.Params "share" }}
			{{ partial "widgets/content/share.html" . }}
		{{ end }}
        {{ .Content }}
        {{ partial "widgets/content/tags.html" . }}
    </div>
</div>
