<div class="row">
    <div class="col-md-11 col-md-offset-1 card">
        <h5>搜索</h5>
        <form action="http://www.baidu.com/baidu" method="get" accept-charset="UTF-8" class="search-form" target="_blank">
            <div class="input-group">
                <input class="form-control" type="search" name="word" />
                <span class="input-group-btn">
                    <button class="btn btn-custom" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
			<input type="hidden" name="tn" value="bds">
			<input type="hidden" name="cl" value="3">
			<input type="hidden" name="ct" value="2097152">
            <input type="hidden" name="si" value="{{ .Site.BaseURL }}">
        </form>
    </div>
</div>
